<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <bk-magic-string>
      If we could see tomorrow, what of your plans?
      No one can live in sorrow, ask all your friends
      Times that you took in stride, they're back in demand
      I was the one who was washing blood off your hands
      Don't you cry tonight
      I still love you, baby
      Don't you cry tonight
      Don't you cry tonight
      There's a heaven above you baby
      And don't you cry tonight
      I know the things you wanted, they're not what you have
      With all the people talking, it's driving you mad
      If I was standing by you, how would you feel
      Knowing your love's decided, and all love is real?
      Don't you cry tonight
      I still love you, baby
      Don't you cry tonight
      Don't you cry tonight
      There's a heaven above you baby
      And don't you cry tonight
      I thought I could live in your world
      As years all went by, with all the…
      Don't you cry tonight
      I still love you, baby
      Don't you cry tonight
      Don't you cry tonight
      There's a heaven above you baby
      And don't you cry tonight
      Don't you cry tonight
      I still love you, baby
      Don't you cry tonight
      Don't you cry tonight
      There's a heaven above you baby
      And don't you cry tonight
    </bk-magic-string>
  </h1>

</div>